@import '~node_modules/modern-normalize/modern-normalize.css';

.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	outline:1px solid red;

	@media (min-width: 768px) {
		max-width: 768px;
		padding: 0 40px;
	}

	@media (min-width: 1200px) {
		max-width: 1200px;
	}
}