<section class="advantages">
    <div class="container">
        <h2 class="visually-hidden">Наши переваги</h2>
        <ul class="list advantages__list">
            <li class="item advantages__item">
                <div class="icon-box">
                <svg class="icon" width="60" height="60">
                  <use href="../src/images/symbol-defs.svg#icon-advantages-1"></use>
                </svg>
              </div>
              <h3 class="title advantages__title">Adapted author's UPE program</h3>
            </li>
            <li class="item advantages__item">
                <div class="icon-box">
                <svg class="icon" width="60" height="60">
                  <use href="../src/images/symbol-defs.svg#icon-advantages-2"></use>
                </svg>
              </div>
              <h3 class="title advantages__title">Modern teaching methods</h3>
            </li>
            <li class="item advantages__item">
                <div class="icon-box">
                <svg class="icon" width="60" height="60">
                  <use href="../src/images/symbol-defs.svg#icon-advantages-3"></use>
                </svg>
              </div>
              <h3 class="title advantages__title">Financial guarantee the result</h3>
            </li>
        </ul>
    </div>
</section>